/* Quita las fechas en los inputs type number */
.form input[type=number]::-webkit-inner-spin-button, 
.form input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

body { overflow: hidden; }

.form {
	margin: 100px auto 0;
	padding: 40px;
	width: 300px;
	font-family: sans-serif;
	color: #444;
	font-weight: 600;
	max-width: 100%;
	box-shadow: 0 0 10px #0004;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
	font-size: 1.1em;
}

.form__title {
	width: 100%;
	text-align: start;
	word-spacing: 5px;
	margin-bottom: 40px;
}

.form__input {
	height: 40px;
	border-radius: 5px;
	font-size: inherit;
	width: 100%;
	min-width: 200px;
	letter-spacing: 3px;
	background-color: #e1e1e1;
	padding: 0 10px;
	border: none;
	outline: none;
	text-align: center;
}


@media screen and (max-width: 500px) {
	.form {
		padding-top: 100px;
		box-shadow: none;
	}
}



























/*body {
	display: flex;
	justify-content: center;
}

#canvas {
	outline: 3px solid #000;
	margin-top: 50px;
}


#caja {
	position: absolute;
	bottom: 0;
	font-family: tahoma;
}*/