/* * {
  outline: 1px solid red;
} */

body {
  margin-bottom: 100px;
}

main {
  box-shadow: -19.5px 0 0 white, -20px 0 0 var(--light-gray);
}

.header {
  padding: 40px 0;
  position: sticky;
  top: 0;
  background-color: #fff;
}

.header__link {
  width: fit-content;
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: var(--text-base);
  color: #000;
}

.header__link:hover {
  text-decoration: none;
  color: var(--medium-blue);
}

h1 {
  position: sticky;
  background-color: #fff;
  top: 75px;
}

#content {
  margin-bottom: 100px;
}

h1,
h2,
h3,
p {
  text-wrap: pretty;
}

h1 {
  font-size: var(--text-3xl);
  border-bottom: var(--border);
  padding-bottom: 10px;
}

h2 {
  font-size: var(--text-2xl);
  margin-top: 40px;
}

h3 {
  font-size: var(--text-lg);
  margin-top: 40px;
  margin-bottom: 10px;
}

p {
  margin-top: 20px;
}

/* Code blocks */
pre {
  margin: 20px 0;
  overflow-x: auto;
  border-radius: 4px;
}

code {
  padding: 2px 5px;
  border-radius: 4px;
  background-color: var(--light-blue);
  border: 1px solid var(--light-gray);
}

/* Lists */
ul {
  list-style: disc;
  margin-left: 20px;
}

ol {
  margin-left: 50px;
  list-style: decimal;
}

/* Tables */
table {
  border-collapse: collapse;
  margin: 20px 0;
}

table,
th,
td {
  border: var(--border);
}

th,
td {
  padding: 2px 10px;
  text-align: center;
}

th {
  background-color: #f4f4f4;
}

/* Links */
a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Blockquotes */
blockquote {
  padding: 10px 20px;
  margin: 10px 0;
  background: #f9f9f9;
  font-style: italic;
}
