footer {
  border-top: var(--border);
  padding: 40px 0;

  p {
    margin: 0;
  }
}

.header {
  padding: 20px 0;
  position: sticky;
  top: 0;
  background-color: var(--primary-bg);
  border-bottom: var(--border);
}

.header__link {
  width: fit-content;
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: var(--text-base);
  color: var(--secondary-text);
}

.header__link:hover {
  text-decoration: none;
  color: var(--primary-text);
}

#content {
  margin-bottom: 100px;
}

h1 {
  margin-top: 50px;
  font-size: var(--text-3xl);
  border-bottom: var(--border);
  padding-bottom: 10px;
  color: var(--primary-text);
}

h2 {
  font-size: var(--text-2xl);
  margin-top: 40px;
  color: var(--primary-text);
}

h3 {
  font-size: var(--text-lg);
  margin-top: 40px;
  margin-bottom: 10px;
  color: var(--primary-text);
}

h4 {
  color: var(--primary-text);
}

p {
  margin-top: 20px;
  color: var(--secondary-text);
}

/* Code blocks */
pre {
  margin: 20px 0;
  overflow-x: auto;
  border-radius: 4px;
  border: var(--border);
  background-color: var(--secondary-bg);
}

code {
  padding: 2px 5px;
  border-radius: 4px;
  background-color: var(--secondary-bg);
  border: 1px solid var(--border-color);
  color: var(--primary-text);
}

/* Lists */
ul {
  list-style: disc;
  margin-left: 20px;
  color: var(--secondary-text);
}

ol {
  margin-left: 50px;
  list-style: decimal;
  color: var(--secondary-text);
}

/* Tables */
table {
  border-collapse: collapse;
  margin: 20px 0;
  background-color: var(--secondary-bg);
  color: var(--primary-text);
}

table,
th,
td {
  border: var(--border);
}

th,
td {
  padding: 2px 10px;
  text-align: center;
}

th {
  background-color: var(--primary-bg);
}

/* Links */
a {
  color: var(--light-blue);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Blockquotes */
blockquote {
  padding: 10px 20px;
  margin: 10px 0;
  background: var(--secondary-bg);
  border-left: 4px solid var(--border-color);
  font-style: italic;
  color: var(--secondary-text);
}