:root {
  /* Colors */
  --primary-bg: #161c27;
  --secondary-bg: #111620;
  --primary-text: #b4caf7;
  --secondary-text: #909fbe;
  --border-color: #242c3d;
  --button-bg: #142037;
  --active-button-bg: #92b6ff;

  --load: #1090f8;
  --error: #f85050;
  --success: #49fd49;

  /* Text Sizes */
  --text-xs: 0.75rem; /* 12px */
  --text-sm: 0.875rem; /* 14px */
  --text-base: 1rem; /* 16px */
  --text-lg: 1.125rem; /* 18px */
  --text-xl: 1.25rem; /* 20px */
  --text-2xl: 1.5rem; /* 24px */
  --text-3xl: 1.875rem; /* 30px */

  /* Fonts */
  --font-title: system-ui, sans-serif;
  --font-content: 'Menlo', monospace, sans-serif;

  /* Styles */
  --border: 1px solid var(--border-color);
  --color-title: #000;
  --radius: 5px;
}

* {
  -webkit-tap-highlight-color: transparent;
}

body {
  background-color: var(--primary-bg);
  font-family: var(--font-content);
  font-size: var(--text-base);
  line-height: 1.5;
  text-wrap: pretty;
}

h1,
h2,
h3 {
  font-family: var(--font-title);
  color: var(--primary-text);
  font-weight: 700;
}

.container {
  width: min(800px, 90%);
  margin: 0 auto;
}

footer {
  display: flex;
  text-align: center;
  flex-direction: column;

  p {
    color: var(--secondary-text);
  }

  a {
    text-decoration: underline;
    color: var(--primary-text);

    &:hover {
      color: #fff;
    }
  }
}
