.main {
  margin-bottom: 100px;
}

/* Sección header */
.header {
  text-wrap: pretty;
}

.header__title {
  font-size: var(--text-3xl);
}

.header__paragraph {
  margin-top: 10px;
}

/* Sección Tabs */
.tabs {
  margin-top: 40px;
}

.tabs__list {
  color: #000;
  user-select: none;
  display: flex;
  align-items: center;
  gap: 5px;
}

.tabs__item,
.tabs__item-link {
  padding: 5px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

.tabs__item-link {
  padding: 2px 10px;
  font-size: var(--text-lg);
}

.tabs__item:hover,
.tabs__item.active,
.tabs__item-link:hover {
  background-color: var(--sky-blue);
  color: var(--blue);
}

.tabs__divider {
  border: none;
  border-left: 1px solid;
  width: 1px;
  height: 20px;
  border-color: var(--soft-gray);
}

/* Sección links */
.links {
  display: flex;
  gap: 20px;
  padding: 0 20px;
}

.links__item {
  color: var(--dark-charcoal);
  text-decoration: none;
}

.links__item:hover {
  color: var(--blue);
}

/* Sección validaciones */
.validations {
  height: 40px;
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 0 20px;
}

.validations span {
  font-size: var(--text-sm);
  margin-right: 10px;
}

.validations i {
  display: none;
}

.validations i.spin {
  color: var(--blue);
  animation: spin 1s infinite forwards linear;
}

.validations i.show {
  display: inline-block;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

/* Sección tab sections */
.tabs__section {
  display: none;
}

.tabs__section.active {
  display: block;
}

/* Sección formularios */
.form {
  border: var(--border);
  padding: 20px;
  border-radius: 5px;
}

.form__label {
  display: block;
  font-weight: bold;
  text-align: center;
  font-family: var(--font-system-ui);
  font-size: var(--text-base);
  color: #000;
}

.form__input {
  margin-top: 20px;
  width: 100%;
  padding: 20px;
  outline: none;
  text-align: center;
  font-family: inherit;
  border-radius: inherit;
  border: inherit;
  font-size: inherit;
}

.form__input:focus {
  outline: var(--border);
}

.form__input:focus::placeholder {
  color: transparent;
}

.error {
  color: var(--bright-red);
  border-color: var(--bright-red);
  outline-color: var(--bright-red);
}

.success {
  color: var(--vivid-green);
  border-color: var(--vivid-green);
  outline-color: var(--vivid-green);
}
