/* Main Container */
.main {
  display: flex;
  flex-direction: column;
  gap: 40px;
  min-height: 100dvh;
  padding: 40px 0;
}

header {
  h1 {
    font-size: var(--text-3xl);
  }

  p {
    margin-top: 10px;
    color: var(--secondary-text);
  }
}

.tabs > div {
  display: flex;
  gap: 20px;
  justify-content: space-between;
}

/* Tabs items and links */
.tabs__list {
  display: flex;
  gap: 5px;
  height: 40px;
  user-select: none;
  color: var(--secondary-text);

  li, a {
    border: var(--border);
    border-radius: var(--radius);
    cursor: pointer;
    padding: 0 20px;
    font-weight: bold;
    align-content: center;
    background-color: var(--secondary-bg);

    &:hover {
      color: var(--primary-text);
      border-color: var(--primary-text);
    }
  }

  li.active {
    color: var(--secondary-bg);
    border-color: var(--primary-text);
    background-color: var(--active-button-bg);
  }

  hr {
    align-self: center;
    margin: 0 5px;
    height: 70%;
    border: none;
    border-left: var(--border);
    width: 1px;
  }

  a {
    font-size: var(--text-xl);
    width: 40px;
    display: grid;
    place-content: center;
  }
}

/* Validation Section */
.tabs__val {
  height: 40px;
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: end;
  padding: 0 20px;

  span {
    font-size: var(--text-sm);
    flex-basis: fit-content;
  }

  i {
    display: none;
  }

  i.spin {
    animation: spin 1s infinite forwards linear;
  }

  &.load i.load {
    display: block;
  }

  &.error i.error {
    display: block;
  }

  &.success i.success {
    display: block;
  }
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

/* Tabs Sections */
.tabs__forms {
  margin-top: 15px;
  border: var(--border);
  padding: 40px;
  border-radius: var(--radius);
  background-color: var(--secondary-bg);
}

/* Form Section */
.tabs__forms > form {
  display: none;

  &.show {
    display: block;
  }

  h3 {
    display: block;
    font-weight: bold;
    text-align: center;
    font-size: var(--text-lg);
    font-family: var(--font-title);
    color: var(--primary-text);
  }

  input {
    margin-top: 20px;
    width: 100%;
    padding: 20px;
    outline: none;
    text-align: center;
    font-family: inherit;
    border-radius: inherit;
    border: inherit;
    font-size: inherit;
    background-color: var(--primary-bg);
    color: var(--primary-text);

    &:focus {
      outline: var(--border);
    }

    &::placeholder {
      color: var(--secondary-text);
    }

    &:focus::placeholder {
      color: transparent;
    }
  }
}


footer {
  flex-grow: 1;
  justify-content: end;
}

.error {
  color: var(--error);
  border-color: var(--error);
  outline-color: var(--error);
}

.success {
  color: var(--success);
  border-color: var(--success);
  outline-color: var(--success);
}

.load {
  color: var(--load);
}

@media screen and (width < 600px) {
  .tabs__val span {
    display: none;
  }
}
