
/* Sección header */
.header {
  text-wrap: pretty;
}

.header__title {
  font-size: 28px;
  font-weight: bold;
}

.header__paragraph {
  margin-top: 10px;
}

/* Sección Tabs */
.tabs {
  margin-top: 40px;
}

.tabs__list {
  user-select: none;
  list-style: none;
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--soft-gray);
  padding-bottom: 3px;
}

.tabs__item {
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

.tabs__item:hover {
  color: var(--blue);
}

.tabs__item.active {
  background-color: var(--sky-blue);
  color: var(--blue);
}

/* Sección links */
.links {
  display: flex;
  gap: 20px;
  padding: 0 20px;
}

.links__item {
  color: var(--dark-charcoal);
  font-size: 24px;
  text-decoration: none;
}

.links__item:hover {
  color: var(--blue);
}

/* Sección validaciones */
.validations {
  height: 40px;
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 0 20px;
}

.validations span {
  font-size: 16px;
  margin-right: 10px;
}

.validations i {
  display: none;
}

.validations i.spin {
  color: var(--blue);
  animation: spin 1s infinite forwards linear;
}

.validations i.show {
  display: inline-block;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

/* Sección tab sections */
.tabs__section {
  display: none;
}

.tabs__section.active {
  display: block;
}

/* Sección formularios */
.form {
  border: 1px solid var(--soft-gray);
  padding: 20px;
  border-radius: 5px;
}

.form__label {
  display: block;
  font-weight: bold;
  text-align: center;
}

.form__input {
  margin-top: 20px;
  width: 100%;
  padding: 20px;
  outline: none;
  text-align: center;
  font-family: inherit;
  border-radius: inherit;
  border: inherit;
  font-size: inherit;
}

.form__input:focus {
  outline: 1px solid var(--soft-gray);
}

.form__input:focus::placeholder {
  color: transparent;
}

.error {
  color: var(--bright-red);
  border-color: var(--bright-red);
  outline-color: var(--bright-red);
}

.success {
  color: var(--vivid-green);
  border-color: var(--vivid-green);
  outline-color: var(--vivid-green);
}
